$gray-bg: rgb(245, 245, 245)
$text: rgb(140, 140, 140)
$box-border: rgb(200, 200, 200)


body
  background-color: #F8F9FB
  margin: 0px

a
  text-decoration: none

.App
  font-family: Roboto
  width: 100%
  height: 100%
  margin: 0 auto
  padding: 0px

.col-xs
  flex-basis: 50%

.main-title
  font-family: Roboto
  font-size: 48px
  font-weight: 900
  line-height: 1.5
  color: $box-border
  margin-bottom: 48px
  margin-top: 48px

.subtitle
  margin-top: 48px
  font-family: Roboto
  font-size: 36px
  font-weight: 300
  line-height: 1.33
  color: $text

.steps-title
  font-family: Roboto
  font-size: 48px
  font-weight: 300
  line-height: 1.0
  color: $box-border
  margin-bottom: 48px
  margin-top: 18px

.button-left
  width: 100%
  text-align: left

.back-btn
  margin-left: 0px !important
  margin-botton: 418px !important

.button-cont
  width: 100%

.AppBar
  position: fixed !important
  top: 0px !important
  overflow: hidden !important
  max-height: 57px !important

.MenuItem
  color: white !important
  text-align: left !important
  font-size: 14px !important

.Divider
  margin-top: 25px !important
  margin-bottom: 30px !important

section
  width: 50%
  margin: auto

.fileInput
  cursor: pointer !important
  position: absolute !important
  top:0 !important
  bottom: 0 !important
  right: 0 !important
  left: 0 !important
  width: 100% !important
  opacity: 0 !important

.marginTop
  margin-top: 35px !important

.disabled
  cursor: default !important

.centralized-text
  text-align: center !important

.update-button
  margin: 15px 15px 15px 15px !important

.LabelPatrimony
  margin: 10px 0px
.LabelPatrimony > label
  font-weight: bold
.LabelPatrimony > br
  margin-bottom: 5px
.LabelPatrimony > label:after
  content: ' :'

.EmergencyRisk
  color: red !important

.EmergencyNoRisk
  color: green !important

.Emergency
  margin-left: 10px !important
