.react-grid-Canvas
  overflow-y: auto !important
  overflow-x: hidden !important

.react-grid-HeaderRow
  overflow-x: unset !important
.react-grid-HeaderCell
  height: auto !important

.react-grid-HeaderCell
  background: white !important
  border-bottom: 1px solid #ddd !important


