.react-grid-Canvas
  overflow-y: auto !important
  overflow-x: hidden !important
  text-align: center
  background: #F5F5F5 !important

.react-grid-HeaderRow
  overflow-x: unset !important
  height: 50px !important

.react-grid-HeaderCell
  height: 30 !important
  background: #F5F5F5 !important
  border-bottom: 1px solid #ddd !important
  border-left: 0px !important
  border-right: 0px !important
  font-family: 'Roboto', sans-serif;
  text-align: center
  color: grey

.react-grid-Cell
  height: 45px !important
  border-left: 0px !important
  border-right: 0px !important
  background: #F5F5F5 !important

.react-grid-Cell.editing
  padding: 0 !important
  background: yellow !important
  color: grey !important

.react-grid-HeaderCell,.react-grid-Cell,:before,:after
  box-sizing: border-box;

.react-grid-Toolbar
  height: 30px !important
  background: #394c65 !important

input
  padding: 0
  border: none
  border-bottom: 2px solid green
  font-family: 'Roboto', sans-serif;
  height: 30px
  background-color: #F5F5F5
