@value buttonPrimaryColor, buttonPrimaryBackgroundColor, buttonPrimaryDisabledBackgroundColor from "./variables.css";

@value button-border-radius: 4px;
@value button-squared-min-width: 12em;

.primary {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;

  /*color: buttonPrimaryColor !important;
  background-color: buttonPrimaryBackgroundColor !important;
  &.flat {
   background-color: buttonPrimaryDisabledBackgroundColor !important;
 }*/
}
.button{}
